doctype html
html(lang="de", data-theme="light")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block head

    link(rel="stylesheet", href="assets/css/styles.css")
  body 
    #app.app
      block content


    script(src="./assets/js/core/statesData.js")
    script(src="./assets/js/core/templates.js")
    script(src="./assets/js/core/functions.js")
    script(src="./assets/js/script.js")